.DS_Store
node_modules
build
.svelte-kit
package
.env
.env.*
!.env.example
dist
LICENSE
# *.d.ts
*.js.map
*.test.js
types
.vscode
build
yarn-error.log
yarn.lock
irispixel.min.css
.yarn
/old
*.css
*.css.map
.pnp.cjs
USAGE.md
